/* define custom variables for SCSS file*/
$black:#000000;
$white:#ffffff;
$red:#ff0000;
$light-blue:#b8d0de;
$btn-active-gray:#808080;
$heading-color:#b7cfdb;
$button-color:#5b7f95;
$progressbar-bg:#656565;
$menu-mode-bg:rgb(136, 139, 141);
