/**
 * Summary: style.scss
 * Description: Common custom style
 * @author Shashi Kapoor Singh.
 * @since  06.13.2018
 */

/* import custom variables and mixin */
@import "custom-variables";
@import "custom-mixin";

/*reset css*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html,body{
	background:$black;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:$white;
}

.container{
	width:1280px;
	height:720px;
  overflow:hidden;
  position: relative;
  @include box-sizing(border-box);
}

.hide{
  display: none
}
.show{
  display: block
}

/* Start Loding Page */
.loading-container{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  .loading-logo{
    text-align:center;
    padding:0px 0 50px 0;
  }
  .loading{
    height:230px;
    .loading-wrapper{
      width:200px;
      height:200px;
      position:relative;
      margin: 50px auto;
      .loader-text {
        position: absolute;
        top: 95px;
        left: -13px;
        right: 0;
        width: 75px;
        margin: auto;
        color: $white;
        font-size: 1.5em;
      }
      .loader-text:after {
        content:"Loading";
        -webkit-animation: loading-text 3s infinite;
        animation: loading-text 3s infinite;
      }
      .loading-circle {
        width: 200px;
        height: 200px;
        @include border-radius(50%);
        border: 15px solid $white;
        position: relative;
        animation: ani 4s infinite linear;
        .circle {
          width: 50px;
          height: 50px;
          @include border-radius(50%);
          background-color: $light-blue;
          position: absolute;
          top: -5px;
          left: 100px;
          transform: translate(-50%,-50%);
        }
      }
      @keyframes ani {
        from {
          transform: rotate(0deg);
        }
        to {transform:rotate(360deg);}
      }
      @keyframes loading-text {
        0% {
          content: "Loading";
        }
        25% {
          content: "Loading.";
        }
        50% {
          content: "Loading..";
        }
        75% {
          content: "Loading...";
        }
      }
    }
  }
}

/* landing/home page  */
.home-top-poster{
	height:150px;
	-webkit-mask-image: linear-gradient(to top, transparent 25%, $black 75%);
	mask-image: linear-gradient(to top, transparent 25%, $black 75%);
	overflow:hidden;		
}
.home-bottom-poster{
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  z-index:50;
  height:150px;  
  @include linear-gradient-b(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	overflow:hidden;		
}
.home-top-poster img{
  width:100%;
  @include Opacity(.5);
}
.sliders-list{
  position: relative;;
  .slider-row{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    h2{
      font-size:1.5em;
      padding-left:50px;
    }    
    .slider-wrapper{
      height:260px;
      position:absolute;
      top:45px;
      width:100%;
      .left-arrow{
        position: absolute;
        left:72px;
        top:172px;
      }
      &.active{
        height:400px;
        top:50px;
      }
      .slider{
        padding-left:50px;
        position: absolute;
        left:0;
        top:0;
        transition: all 300ms linear;
        .list-item{
          width:170px;
          height:250px;
          background:$white;
          margin-right:20px;
          float:left;
          position:relative;
          list-style: none;
        }
        .list-item.active:after{
          content:"";
          position:absolute;
          height:250px;
          width:170px;
          border:solid 6px $white;
          left:-6px;
          top:-6px;
        }
        .list-item.active:before {
          content:"";
          position:absolute;
          left:50%;
          transform: translate(-50%, 0);
          bottom:-21px;
          width: 0; 
          height: 0; 
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;  
          border-top: 15px solid $white;
        }
      }
      .active-details{
        width:calc(100% - 50px);
        height:120px;
        position:absolute;
        bottom:0;
        left:50px;
        .left-col{
          position:relative;
          width:900px;
          .heading-row{
            font-weight:bold;
            .btn-style{
              border:solid 2px $white;
              @include border-radius(15px);
              padding:0 20px;
            }
            span{
              margin:0 10px;
            }
            h3{
              display:inline-block;
              font-size:1.5em;
              margin-right:10px;
            }
            .price{
              font-size: 1.5em;
            }
          }          
        }
        .key-action-details{
          font-weight:bold;
          font-size:1.7em;
          position:absolute;
          right:0;
          top:20px;
          width:250px;
          line-height:1;
          text-align:center;
        }
      }
    }
  }
}


/* media queries */
@media (min-width: 1280px) {
  .container{
    width:1280px;
    height:720px;
  }
  .slide-container-wrapper{
    position: relative;
  }
  .loading-logo{
    padding:285px 0 30px 0;
    width:345px;
    height:108px;
    background:url(../images/logo-lodingpage_1280x720.jpg) no-repeat;
  }

  /* loading page*/
  .loading-container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    .loading-logo{
      text-align:center;
      padding:0px 0 50px 0;
    }
    .loading{
      height:230px;
      .loading-wrapper{
        width:200px;
        height:200px;
        position:relative;
        margin: 50px auto;
        .loader-text {
          position: absolute;
          top: 77px;
          left: -18px;
          right: 0;
          width: 75px;
          margin: auto;
          color: $white;
          font-size: 1em;
        }
        .loader-text:after {
          content:"Loading";
          -webkit-animation: loading-text 3s infinite;
          animation: loading-text 3s infinite;
        }
        .loading-circle {
          width: 160px;
          height: 160px;
          @include border-radius(50%);
          border: 10px solid $white;
          position: relative;
          animation: ani 4s infinite linear;
          .circle {
            width: 35px;
            height: 35px;
            @include border-radius(50%);
            background-color: $light-blue;
            position: absolute;
            top: -1px;
            left: 100px;
            transform: translate(-50%,-50%);
          }
        }
        @keyframes ani {
          from {
            transform: rotate(0deg);
          }
          to {transform:rotate(360deg);}
        }
        @keyframes loading-text {
          0% {
            content: "Loading";
          }
          25% {
            content: "Loading.";
          }
          50% {
            content: "Loading..";
          }
          75% {
            content: "Loading...";
          }
        }
      }
    }
  }
  /* end loading page*/

  /* landing page */
  .home-top-poster{
    height:160px;
    position: absolute;
    z-index: 1;
  }
  .slider-main-container{
    height: 560px;
    overflow: hidden;
    position: absolute;
    top: 160px;
    width: 100%;
    }
  .home-top-poster-details{
    height:330px;
    position: absolute;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, $black 75%);
	  mask-image: linear-gradient(to top, transparent 25%, $black 75%);
    overflow:hidden;
    img{
      width:1280px;
      height: 100%;
    }
  }
  .home-bottom-poster{
    height:160px;
  }
  .home-right-poster{
    width:160px;
    height:720px;
    position: absolute;
    right:0;
    top:0;
    z-index:50;
    overflow:hidden;
    @include linear-gradient-b(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

  .sliders-list{
    position: relative;
    z-index: 2;
    .slider-row{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      h2{
        font-size:1.7em;
        padding-left:50px;
        padding-top:5px;
      }
      .slider-wrapper{
        height:260px;
        position:absolute;
        top:50px;
        width:100%;
        .arrow{
          position: absolute;
          z-index:100;
          width:37px;
          height:37px;
          background: url(../images/left-arrow_1280x720.png) no-repeat 0 0;
        }
        .left-arrow{
          left:70px;
          top:30%;
          &.active{
            background-position: 0 -65px;
          }
        }
        .right-arrow{
          right:105px;
          top:172px;
          background-position: -65px 0px;
          &.active{
            background-position: -65px -65px;
          }
        }
        &.active{
          height:405px;
          top:50px;
        }
        &.horizontal{
          .slider{
            top:40px;
            .list-item{
              width:500px;
              height:280px;
              img{
                width:500px;
                height:280px;
              }
            }
            .list-item.active:after{
              height:280px;
              width:500px;
              left:-6px;
              top:-6px;
            }
            .list-item.active:before {
              left:230px;
              bottom:-26px;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid $white;
            }
          }
          .left-arrow{
            top:144px;
          }
        }
        .slider{
          padding-left:134px;
          position: absolute;
          left:0;
          top:20px;
          .list-item{
            width:167px;
            height:247px;
            background:$white;
            margin-right:12px;
            float:left;
            position:relative;
            list-style: none;
            img{
              width:167px;
              height:247px;
            }
          }
          .list-item.active:after{
            content:"";
            position:absolute;
            width:167px;
            height:247px;
            border:solid 4px $white;
            left:-4px;
            top:-4px;
          }
          .list-item.active:before {
            left:50%;
            transform: translate(-50%, 0);
            bottom:-14px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $white;
          }
        }
        .active-details{
          width:calc(100% - 130px);
          height:120px;
          position:absolute;
          bottom:0;
          left:130px;
          .left-col{
            position:relative;
            width:70%;
            p{
              font-size:1em;
              line-height:1.2;
              padding-top:10px;
            }
            .heading-row{
              font-weight:bold;
              overflow: hidden;
              .btn-style{
                border:solid 2px $white;
                @include border-radius(15px);
                padding:0px 15px;
                margin-top:5px;
              }
              .time{
                margin-top:7px;
              }
              span{
                margin:0 10px;
                float: left;
                font-size: .9em;
              }
              h3{
                font-size:1.6em;
                margin-right:10px;
                float: left;
              }
              .price{
                font-size: 1.6em;
              }
            }
          }
          .key-action-details{
            font-weight:bold;
            font-size:1.4em;
            position:absolute;
            z-index: 51;
            right:5%;
            top:18;
            width:25%;
            line-height:1;
            text-align:center;
          }
        }
      }
    }
  }

  /* details page*/
  .product-details-wrapper{
    padding:85px 85px 0 85px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    .left-col{
      width:240px;
      margin-right: 25px;
      float: left;
      .poster{
        width: 220px;
        height: 333px;
        padding-bottom:15px;
        margin:0 auto;
        img{
          width: 220px;
          height: 333px;
          border:solid 1px rgba($white,.2);
        }
      }
      #left-button{
        button{
          background: transparent;
          color:$white;
          text-align: center;
          font-size:1.1em;
          line-height: 1.25;
          border:solid 2px $white;
          text-align: center;
          @include border-radius(12px);
          height: 56px;
          display: table;
          width:calc(100% - 80px);
          @include box-sizing(border-box);
          outline:none;
          margin:10px auto;
          span{
            width: 72%;
            display: block;
            margin: 0 auto;
          }
          &.active{
            background:$btn-active-gray;
          }
        }
      }
    }
    .right-col{
      width:calc(100% - 265px);
      padding-top: 250px;
      float: left;
      .content-list{
        h3{
          font-size: 2em;
          font-weight: bold;
          padding-bottom: 10px;
        }
        .heading-row{
            font-weight:bold;
            padding-bottom: 10px;
            .btn-style{
              border:solid 2px $white;
              @include border-radius(15px);
              padding:0 20px;
            }
            .btn-small{
              padding:0 10px;
              min-width: 30px;
              display: inline-block;
              text-align: center;
            }
            span{
              margin:0 20px 0 0;
              font-size: .9em;
            }
          }
        .descriptions{
          p{
           /* autoprefixer: off */
      padding: 5px 0;
      line-height: 1.3;
      font-size: 1.3em;
      display: block;
      display: -webkit-box;
      max-height: 140px;
      min-height: 50px;
      overflow: hidden;
      -webkit-line-clamp: 6;
      text-overflow: ellipsis;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
          }
        }
        .director-actors{
          padding-top: 15px;
          overflow: hidden;
          .list{
            width: 200px;
            float: left;
            h4{
              font-size: 1.1em;
              font-weight: bold;
            }
            li{
              width: 200px;
              list-style: none;
              font-size: .9em;
            }
            &.actors{
              width:437px;
              li{
                float: left;
              }
            }
          }
        }
      }
    }
  }

  /* Left Menu */
  .bluureffects{
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  .menu{
    width:600px;
    height:1080px;
    background: $black;
    border-right:solid 1px rgba($white, .3);
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    .logo{
      text-align: center;
      padding:50px 0 30px 0;
    }
    nav{
      ul{
        li{
          padding:10px 40px 10px 100px;
          font-size: 2em;
          line-height: 2em;
          &.exit{
            i{
              right:30px;
              font-size: 1.1em;
              top:14px;
            }
            i:after{
              position: absolute;
              content:"";
              width:35px;
              height:35px;
              right:-17px;
              top:-3px;
              border:solid 3px $white;
              @include border-radius(50%);
            }
          }
          a{
            border:solid 1px transparent;
            display: block;
            padding:0px 10px;
            @include border-radius(12px);
            color: $white;
            text-decoration: none;
            position: relative;
            i{
              display: none;
              position: absolute;
              right:20px;
              top:12px;
              font-size: 1.3em;
            }
          }
          &.active{
            a{
              border:solid 1px $white;
              display: block;
              padding:0px 10px;
              @include border-radius(12px);
              i{
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .scrollMenu{
    height: 913px;
    overflow: hidden;
  }
  .sub-menu{
    width:1220px;
    height:880px;
    padding:50px;
    @include box-sizing(border-box);
    background:$black;
    float: left;
    margin-top:100px;
    position: absolute;
    z-index: 1;
    left:601px;
    .heading{
      padding:0px 0 50px 0;
      text-align: center;
      h3{
        font-size: 2.5em;
        color:$heading-color;
      }
    }
    .content{
      text-align: center;
      padding:0 50px;
      height:170px;
      p{
        font-size: 2em;
        line-height: 1.5;
      }
    }
    .movie-list{
      ul{
        overflow: hidden;
        li{
          list-style: none;
          width:320px;
          height:180px;
          float: left;
          margin-right: 20px;
          margin-bottom:20px;
        }
      }
    }
    .checkbox-lists{
      overflow: hidden;
      padding: 0 50px;
      .checkbox-col{
        float: left;
        width: 40%;
      }
    }
    .col-5{
      overflow: hidden;
      padding-bottom: 20px;
      .form-group, .radio-group{
        width:20%;
        float: left;
      }
    }
    .col-4{
      overflow: hidden;
      padding-bottom: 20px;
      .form-group, .radio-group{
        width:25%;
        float: left;
      }
    }
    .menu-button-row{
      position: absolute;
      bottom:50px;
    }
  }
  .form-group{
    padding:8px 0;
    &.active > label{
      &:before{
        background:$btn-active-gray;
      }
    }
    input{
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 8px;
      width: 3px;
      height: 9px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    label{
      position: relative;
      cursor: pointer;
      font-size: 1.2em;
      padding-left:5px;
      &:before{
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        @include border-radius(5px);
        top:-2px;
        left:-5px;
      }
      &:hover{
        &:before{
          background:$btn-active-gray;
        }
      }
    }
  }

  /* radio */
  .radio-group{
    padding:8px 0;
    &.active > label{
      &:before{
        background:$btn-active-gray;
      }
    }
    input{
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 8px;
      width: 9px;
      height: 9px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      background: $white;
      @include border-radius(50%);
    }
    label{
      position: relative;
      cursor: pointer;
      font-size: 1.3em;
      padding-left:5px;
      &:before{
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 12px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        @include border-radius(50%);
        top:-2px;
        left:-5px;
      }
      &:hover{
        &:before{
          background:$btn-active-gray;
        }
      }
    }
  }
  /* kids zone screen */
  .kids-zone{
    width:1220px;
    height:880px;
    padding:100px;
  }
  /* language screen */
  .language{
    .checkbox-lists{
      padding:0 0 0 200px;
      .checkbox-col{
        width:50%;
      }
    }
  }
  /* filter screen */
  .filter{
    padding:20px 30px;
    .heading{
      padding-bottom: 10px;
    }
    .button-row{
      padding-bottom:10px;
    }
    .sub-heading{
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      font-size: 2em;
      padding-top: 10px;
    }
    .checkbox-header{
      overflow: hidden;
      text-align: center;
      padding:15px 0;
      .form-group{
        display: inline;
        margin-right: 50px;
      }
    }
  }

  /* go back button */
  .menu-button-row{
    .go-back{
      color:$button-color;
      text-decoration: none;
      font-size: 1.7em;
      position: relative;
      i{
        font-size: 1em;
        padding-right:18px;
        &:after{
          content:"";
          position: absolute;
          top:2px;
          left:-12px;
          width:30px;
          height:30px;
          border:4px solid $button-color;
          @include border-radius(50%);
        }
      }
    }
  }

  /* Related Title Screen */  
  .lang-col{
    width: 50%;
    float: left;
  }
  .related-title{
    padding:50px 125px;
    @include box-sizing(border-box);
    .title-related-top{
      padding-left:5px;
      .menu-button-row{
        padding-left:12px;
      }
      h3{
        font-size: 2em;
        padding:5px 0 15px 0;
      }
    }
    .related-lists{
      ul{
        padding:5px 5px 30px 5px;
        overflow: hidden;
        li{
          list-style:none;
          float: left;
          margin-right: 20px;
          width:260px;
          height:400px;
          img{
            width:260px;
            height:400px;
          }
          &:last-child{
            margin-right: 0;
          }
          &.active{
            position: relative;
            &:before{
              content:"";
              position: absolute;
              left:-6px;
              top:-6px;
              width:260px;
              height:400px;
              border:6px solid $white;
            }
          }
        }
      }
    }
  }

  /* confirmation popup screen */
  .col-2{
    overflow: hidden;
    padding-bottom: 5px;
    .form-group{
      width:50%;
      float: left;
    }
    .radio-group{
      width:50%;
      float: left;
      padding:10px 0;
    }
  }
  .right-align{
    text-align: right;
  }
  .purchase-button{
    position: relative;
    .confirmation-error-message{
      position: absolute;
      top: 62px;
      width: 953px;
      left: -307px;
      text-align: center;
      color:$red;
      }
    .data-list{
      text-align: right;
      .row{
        display:inline-block;
        .item{
          display: inline-block;
          &.active .btn-popup{
            background:$btn-active-gray;
          }
        }
      }
    }
  }
  .btn-popup{
    padding:14px 28px;
    margin-left: 16px;
    font-size: 1.5em;
    line-height: 1.5;
    color: $white;
    text-decoration: none;
    border:solid 2px $white;
    background:none;
    @include border-radius(12px);
    &.active{
      background:$btn-active-gray;
    }
  }
  .row{
    overflow: hidden;
  }
  .confirmation-popup{
    position: absolute;
    z-index: 50;
    width:80%;
    height:80%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background: $black;
    border:solid 3px rgba($white,.3);
    padding:33px;
    @include box-sizing(border-box);
    .menu-button-row{
      padding-top: 30px;
    }
    .content{
      padding-bottom: 20px;
    }
    h3{
      font-size: 1.2em;
      padding-bottom:14px;
      line-height: 1;
    }
  }
  .col-container{
    .col-left{
      width:172px;
      float: left;
      margin-right: 30px;
      .poster{
        img{
          width: 172px;
          height: 265px;
          border:solid 1px rgba($white,.3);
        }
      }
      .price{
        text-align: center;
        font-size: 1em;
      }
    }
    .col-right{
      width:calc(100% - 202px);
      float: left;
      .checkbox-container{
        min-height:200px;
        overflow:hidden;
      }
      .content{
        margin-bottom: 30px;
        padding-bottom: 0;
        p{
          font-size: 1em;
          line-height: 1.5;
        }
      }
    }
  }

  /* Player Screen */
  .text-center{
    text-align: center;
  }
  .player-wrapper{
    .player-details{
      background: $black;
      position: absolute;
      padding:20px;
      @include box-sizing(border-box);
      width:400px;
      min-height: 250px;
      right:100px;
      top:100px;
      .btn-exit{
        font-size:1.8em;
        color:$white;
        text-decoration: none;
        padding:0 20px;
        display: inline-block;
        border:solid 2px transparent;
        &:hover, &.active{
          background-color:$btn-active-gray;
          border:solid 2px $white;
          @include border-radius(12px);
        }
      }
      .player-icon{
        text-align: center;
        padding:20px 0 5px 0;
        div{
          background: url(../images/player-icon.png) no-repeat 0;
          width:42px;
          height:40px;
          display: inline-block;
          border: solid 2px transparent;
          @include border-radius(10px);
          padding: 5px;
          margin:0 1px;
          &:hover, &.active{
            border: solid 2px $white;
            background-color:$btn-active-gray;
          }
        }
        .RW{
          background-position: 8px 8px;
        }
        .RW-1{
          background-position: -386px 8px;
        }
        .RW-2{
          background-position: -447px 8px;
        }
        .RW-3{
          background-position: 8px 8px;
        }
        .FF{
          background-position: -93px 8px;
        }
        .FF-1{
          background-position: -324px 8px;
        }
        .FF-2{
          background-position: -263px 8px;
        }
        .FF-3{
          background-position: -93px 8px;
        }
        .play{
          background-position: -211px 8px;
        }
        .pause{
          background-position: -42px 7px;
        }
        .language{
          background-position: -157px 8px;
        }
      }
      h3{
        font-size: 2em;
        color:$white;
        text-align: center;
        line-height: 1.2;
        height: 77px;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .audio-language{
      background:$black;
      padding:50px;
      width:900px;
      position: absolute;
      right:100px;
      top:363px;
      h3{
        font-size: 1.8em;
        padding-bottom:20px;
        line-height: 1;
      }
    }

    /* progress bar */
    .progressbar-wrapper{
      width:80%;
      position: absolute;
      bottom:150px;
      z-index: 5;
      left:10%;
      #progressBarPanasonic{
        border-radius:12px;
        background:$white;
        box-shadow: 0px 0px 10px rgba($black,.7);
      }
      #currentTimeDiv{
        text-align: center;
        padding-bottom:50px;
        #timeView{
          font-size: 2em;
          text-shadow: 0 0 5px rgba($black,.7);
        }
      }
      #progressBarFillId{
        width:0px;
        border-radius:12px;
        transition: all 500ms linear;
        height:15px;
        background:$progressbar-bg;
        box-shadow: 0px 0px 10px rgba($black,.7);
        position: relative;
        .progressbar-circle{
          width:30px;
          height:30px;
          border-radius: 50%;
          background:$progressbar-bg;
          box-shadow: 0px 0px 10px rgba($black,.8);
          position: absolute;
          right:-15px;
          top:-8px;
        }
      }
    }
  }

}





/* media queries */
@media (min-width: 1920px) {
  .container{
    width:1920px;
    height:1080px;
  }
  .slide-container-wrapper{
    position: relative;
  }
  .loading-logo{
    padding:285px 0 50px 0;
    width:517px;
    height:162px;
    background:url(../images/logo-lodingpage.jpg) no-repeat;
  }

  /* Start Loding Page */
.loading-container{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  .loading-logo{
    text-align:center;
    padding:0px 0 50px 0;
  }
  .loading{
    height:230px;
    .loading-wrapper{
      width:200px;
      height:200px;
      position:relative;
      margin: 50px auto;
      .loader-text {
        position: absolute;
        top: 95px;
        left: -13px;
        right: 0;
        width: 75px;
        margin: auto;
        color: $white;
        font-size: 1.5em;
      }
      .loader-text:after {
        content:"Loading";
        -webkit-animation: loading-text 3s infinite;
        animation: loading-text 3s infinite;
      }
      .loading-circle {
        width: 200px;
        height: 200px;
        @include border-radius(50%);
        border: 15px solid $white;
        position: relative;
        animation: ani 4s infinite linear;
        .circle {
          width: 50px;
          height: 50px;
          @include border-radius(50%);
          background-color: $light-blue;
          position: absolute;
          top: -5px;
          left: 100px;
          transform: translate(-50%,-50%);
        }
      }
      @keyframes ani {
        from {
          transform: rotate(0deg);
        }
        to {transform:rotate(360deg);}
      }
      @keyframes loading-text {
        0% {
          content: "Loading";
        }
        25% {
          content: "Loading.";
        }
        50% {
          content: "Loading..";
        }
        75% {
          content: "Loading...";
        }
      }
    }
  }
}

  /* landing page */
  .home-top-poster{
    height:250px;
    position: absolute;
    z-index: 1;
  }
  .slider-main-container{
    height: 830px;
    overflow: hidden;
    position: absolute;
    top: 250px;
    width: 100%;
    }
  .home-top-poster-details{
    height:450px;
    position: absolute;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, $black 75%);
	  mask-image: linear-gradient(to top, transparent 25%, $black 75%);
    overflow:hidden;
    img{
      width:1920px;
      height: 100%;
    }
  }
  .home-bottom-poster{
    height:250px;
  }
  .home-right-poster{
    width:250px;
    height:1080px;
    position: absolute;
    right:0;
    top:0;
    z-index:50;
    overflow:hidden;
    @include linear-gradient-b(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

  .sliders-list{
    position: relative;
    z-index: 2;
    .slider-row{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      h2{
        font-size:2.5em;
        padding-left:70px;
      }
      .slider-wrapper{
        height:260px;
        position:absolute;
        top:60px;
        width:100%;
        .arrow{
          position: absolute;
          z-index:100;
          width:55px;
          height:55px;
          background: url(../images/left-arrow.png) no-repeat 0 0;
        }
        .left-arrow{
          left:105px;
          top:172px;
          &.active{
            background-position: 0 -65px;
          }
        }
        .right-arrow{
          right:105px;
          top:172px;
          background-position: -65px 0px;
          &.active{
            background-position: -65px -65px;
          }
        }
        &.active{
          height:535px;
          top:70px;
        }
        &.horizontal{
          .slider{
            top:40px;
            .list-item{
              width:500px;
              height:280px;
              img{
                width:500px;
                height:280px;
              }
            }
            .list-item.active:after{
              height:280px;
              width:500px;
              left:-6px;
              top:-6px;
            }
            .list-item.active:before {
              left:230px;
              bottom:-26px;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid $white;
            }
          }
          .left-arrow{
            top:144px;
          }
        }
        .slider{
          padding-left:200px;
          position: absolute;
          left:0;
          top:20px;
          .list-item{
            width:250px;
            height:370px;
            background:$white;
            margin-right:20px;
            float:left;
            position:relative;
            list-style: none;
            img{
              width:250px;
              height:370px;
            }
          }
          .list-item.active:after{
            content:"";
            position:absolute;
            width:200px;
            height:300px;
            border:solid 6px $white;
            left:-6px;
            top:-6px;
          }
          .list-item.active:before {
            left:50%;
            transform: translate(-50%, 0);
            bottom:-21px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $white;
          }.list-item.active-landscape:after{
            content:"";
            position:absolute;
            width:320px;
            height:180px;
            border:solid 6px $white;
            left:-6px;
            top:-6px;
          }
          .list-item.active-landscape:before {
            content:"";
            position:absolute;
            left:50%;
            transform: translate(-50%, 0);
            bottom:-21px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $white;
          }
        }
        .active-details{
          width:calc(100% - 193px);
          height:120px;
          position:absolute;
          bottom:0;
          left:193px;
          .left-col{
            position:relative;
            width:1200px;
            p{
              font-size:1.5em;
              line-height:1.2;
              padding-top:10px;
            }
            .heading-row{
              font-weight:bold;
              overflow: hidden;
              .btn-style{
                border:solid 2px $white;
                @include border-radius(15px);
                padding:0px 25px;
                margin-top:12px;
              }
              .time{
                margin-top:15px;
              }
              span{
                margin:0 10px;
                float: left;
                font-size: 1.3em;
              }
              h3{
                font-size:2.5em;
                margin-right:10px;
                float: left;
              }
              .price{
                font-size: 2.5em;
              }
            }
          }
          .key-action-details{
            font-weight:bold;
            font-size:2em;
            position:absolute;
            z-index: 51;
            right:200px;
            top:20px;
            width:250px;
            line-height:1;
            text-align:center;
          }
        }
      }
    }
  }

  /* details page*/
  .product-details-wrapper{
    padding:130px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    .left-col{
      width:330px;
      margin-right: 50px;
      float: left;
      .poster{
        width: 330px;
        height: 500px;
        padding-bottom:0;
        margin:0 auto 40px auto;
        border:solid 1px rgba($white,.2);
        img{
          width: 330px;
          height: 500px;
          width:100%;
          border:none;
        }
      }
      #left-button{
        button{
          background: transparent;
          color:$white;
          text-align: center;
          font-size:1.7em;
          line-height: 1.25;
          border:solid 2px $white;
          margin:20px 50px;
          text-align: center;
          @include border-radius(12px);
          height: 80px;
          display: table;
          width:calc(100% - 100px);
          @include box-sizing(border-box);
          outline:none;
          span{
            width: 72%;
            display: block;
            margin: 0 auto;
          }
          &.active{
            background:$btn-active-gray;
          }
        }
      }
    }
    .right-col{
      width:calc(100% - 380px);
      padding-top: 350px;
      float: left;
      .content-list{
        h3{
          font-size: 3em;
          font-weight: bold;
          padding-bottom: 15px;
        }
        .heading-row{
            font-weight:bold;
            padding-bottom: 20px;
            .btn-style{
              border:solid 2px $white;
              @include border-radius(15px);
              padding:0 30px;
            }
            .btn-small{
              padding:0 15px;
              min-width: 30px;
              display: inline-block;
              text-align: center;
            }
            span{
              margin:0 20px 0 0;
              font-size: 1.3em;
            }
          }
        .descriptions{
          p{
            /* autoprefixer: off */
            padding: 25px 0;
            line-height: 1.3;
            font-size: 1.3em;
            display: block;
            display: -webkit-box;
            max-height: 140px;
            min-height: 50px;
            overflow: hidden;
            -webkit-line-clamp: 6;
            text-overflow: ellipsis;
            -moz-box-orient: vertical;
            -webkit-box-orient: vertical;
            box-orient: vertical;
          }
        }
        .director-actors{
          padding-top: 10px;
          overflow: hidden;
          .list{
            width: 300px;
            float: left;
            h4{
              font-size: 1.5em;
              font-weight: bold;
            }
            li{
              width: 300px;
              list-style: none;
              font-size: 1.3em;
            }
            &.actors{
              width:650px;
              li{
                float: left;
              }
            }
          }
        }
      }
    }
  }

  /* Left Menu */
  .bluureffects{
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
  .menu{
    width:600px;
    height:1080px;
    background: $black;
    border-right:solid 1px rgba($white, .3);
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    .logo{
      text-align: center;
      padding:50px 0 30px 0;
    }
    nav{
      ul{
        li{
          padding:10px 40px 10px 100px;
          font-size: 2.5em;
          line-height: 2em;
          &.exit{
            i{
              right:30px;
              font-size: 1.1em;
              top:14px;
            }
            i:after{
              position: absolute;
              content:"";
              width:35px;
              height:35px;
              right:-17px;
              top:-3px;
              border:solid 3px $white;
              @include border-radius(50%);
            }
          }
          a{
            border:solid 1px transparent;
            display: block;
            padding:0px 10px;
            @include border-radius(12px);
            color: $white;
            text-decoration: none;
            position: relative;
            i{
              display: none;
              position: absolute;
              right:20px;
              top:12px;
              font-size: 1.3em;
            }
          }
          &.active{
            a{
              border:solid 1px $white;
              display: block;
              padding:0px 10px;
              @include border-radius(12px);
              i{
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .scrollMenu{
      height: 913px;
      overflow: hidden;
  }
  .sub-menu{
    width:1220px;
    height:880px;
    padding:50px;
    @include box-sizing(border-box);
    background:$black;
    float: left;
    margin-top:100px;
    position: absolute;
    z-index: 1;
    left:601px;
    .heading{
      padding:0px 0 50px 0;
      text-align: center;
      h3{
        font-size: 2.5em;
        color:$heading-color;
      }
    }
    .content{
      text-align: center;
      padding:0 50px;
      height:170px;
      p{
        font-size: 2em;
        line-height: 1.5;
      }               
    }
    .movie-list{
      ul{
        overflow: hidden;
        li{
          list-style: none;
          width:320px;
          height:180px;
          float: left;
          margin-right: 20px;
          margin-bottom:20px;
        }
      }          
    } 
    .checkbox-lists{
      overflow: hidden;
      padding: 0 50px;
      .checkbox-col{
        float: left;
        width: 40%;                
      }
    }         
    .col-5{
      overflow: hidden;
      padding-bottom: 20px;
      .form-group{
        width:20%;
        float: left;
      }
    }
    .col-4{
      overflow: hidden;
      padding-bottom: 20px;
      .form-group{
        width:25%;
        float: left;
      }
    } 
    .menu-button-row{
      position: absolute;
      bottom:50px; 
    }
  }
  .form-group{
    padding:12px 0;
    input{
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
    input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 6px;
      height: 12px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    label{
      position: relative;
      cursor: pointer;
      font-size: 1.5em;
      padding-left:5px;
      &:before{
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 12px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        @include border-radius(5px);
        top:-2px;
        left:-5px;
      }
      &:hover{
        &:before{
          background:$btn-active-gray;
          
        }
      }
    }
  }
  /* kids zone screen */
  .kids-zone{
    width:1220px;
    height:880px;
    padding:100px;
  }
  /* language screen */
  .language{
    .checkbox-lists{
      padding:0 0 0 200px;
      .checkbox-col{
        width:50%;
      }
    }
  }
  /* filter screen */
  .filter{
    padding:20px 30px;
    .heading{
      padding-bottom: 10px;
    }
    .button-row{
      padding-bottom:10px;
    }
    .sub-heading{
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      font-size: 2em;
      padding-top: 10px;
    }
    .checkbox-header{
      overflow: hidden;
      text-align: center;
      padding:15px 0;
      .form-group{
        display: inline;
        margin-right: 50px;
      }
    }
  }
  
  /* go back button */
  .menu-button-row{
    .go-back{
      color:$button-color;
      text-decoration: none;
      font-size: 1.7em;
      position: relative;
      i{
        font-size: 1em;
        padding-right:18px;
        &:after{
          content:"";
          position: absolute;
          top:2px;
          left:-12px;
          width:30px;
          height:30px;
          border:4px solid $button-color;
          @include border-radius(50%);
        }
      }
    }
  }  

  /* Related Title Screen */
  .lang-col{
    width: 50%;
    float: left;
  }
  .related-title{
    padding:50px 125px;
    @include box-sizing(border-box);
    .title-related-top{
      padding-left:5px;
      .menu-button-row{
        padding-left:12px;
      }
      h3{
        font-size: 2em;
        padding:5px 0 15px 0;
      }
    }    
    .related-lists{
      ul{
        padding:5px 5px 30px 5px;
        overflow: hidden;
        li{
          list-style:none;
          float: left;
          margin-right: 20px;     
          width:260px;
          height:400px;   
          img{
            width:260px;
            height:400px;
          }
          &:last-child{
            margin-right: 0;
          }          
          &.active{
            position: relative;
            &:before{
              content:"";
              position: absolute;
              left:-6px;
              top:-6px;
              width:260px;
              height:400px;
              border:6px solid $white;
            }
          }
        }
      }
    }    
  }

  /* confirmation popup screen */  
  .col-2{
    overflow: hidden;
    padding-bottom: 20px;
    .form-group{
      width:50%;
      float: left;
    }
  }
  .right-align{
    text-align: right;
  }
  .btn-popup{
    padding:20px 40px;
    margin-left: 20px;
    font-size: 2em;
    line-height: 1.5;
    color: $white;
    text-decoration: none;
    border:solid 2px $white;
    @include border-radius(12px);
    &.active{
      background:$btn-active-gray;
    }
  }
  .row{
    overflow: hidden;
  }
  .confirmation-popup{
    position: absolute;
    z-index: 50;
    width:1500px;
    height:800px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background: $black;
    border:solid 5px rgba($white,.3);
    padding:50px;
    @include box-sizing(border-box);
    .menu-button-row{
      padding-top: 30px;
    }
    .content{
      padding-bottom: 20px;
    }
    h3{
      font-size: 1.8em;
      padding-bottom:20px;
      line-height: 1;
      text-transform: uppercase;
    }
  }
  .col-container{
    .col-left{
      width:260px;
      float: left;
      margin-right: 50px;
      .poster{
        width: 260px;
        height: 400px;
        border:solid 1px rgba($white,.3);
        margin-bottom:20px;
        img{
          width: 260px;
          height: 400px;
        }
      }
      .price{
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
      }
    }
    .col-right{
      width:1080px;
      float: left;
      .radio-container{
        height:270px;
        padding-bottom:0;
        margin-bottom:40px;
        overflow:hidden;
        position: relative;
        .data-list{
          position: absolute;
          width:100%;
        }
      }
      .content{
        margin-bottom: 30px;
        padding-bottom: 0;
        p{
            /* autoprefixer: off */
      padding: 0px 0 25px 0;
      line-height: 1.4;
      font-size: 1.5em;
      display: block;
      display: -webkit-box;
      max-height: 140px;
      min-height: 50px;
      overflow: hidden;
      -webkit-line-clamp: 6;
      text-overflow: ellipsis;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
        }
      }
    }
  }

  /* Player Screen */
  .text-center{
    text-align: center;
  }
  .player-wrapper{
    .player-details{
      background: $black;
      position: absolute;
      padding:20px;
      @include box-sizing(border-box);
      width:400px;
      min-height: 250px;
      right:100px;
      top:100px;      
      .btn-exit{
        font-size:1.8em;
        color:$white;
        text-decoration: none;
        padding:0 20px;
        display: inline-block;
        border:solid 2px transparent;
        &:hover, &.active{
          background-color:$btn-active-gray;  
          border:solid 2px $white;
          @include border-radius(12px);
        }
      }
      .player-icon{
        text-align: center;
        padding:20px 0 5px 0;
        div{          
          background: url(../images/player-icon.png) no-repeat 0;
          width:42px;
          height:40px;
          display: inline-block;  
          border: solid 2px transparent;
          @include border-radius(10px);
          padding: 5px;
          margin:0 1px;
          &:hover, &.active{
            border: solid 2px $white;
            background-color:$btn-active-gray;  
          }
        }
        .RW{
          background-position: 8px 8px;
        }
        .RW-1{
          background-position: -386px 8px;
        }
        .RW-2{
          background-position: -447px 8px;
        }
        .RW-3{
          background-position: 8px 8px;
        }
        .FF{
          background-position: -93px 8px;
        }        
        .FF-1{
          background-position: -324px 8px;
        }
        .FF-2{
          background-position: -263px 8px;
        }
        .FF-3{
          background-position: -93px 8px;
        }  
        .play{
          background-position: -211px 8px;
        }
        .pause{
          background-position: -42px 7px;
        }
        .language{
          background-position: -157px 8px;
        }
      }
      h3{
        font-size: 2em;
        color:$white;
        text-align: center;
        line-height: 1.2;
        height: 77px;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }    
    .audio-language{
      background:$black;
      padding:50px;
      width:900px;
      position: absolute;
      right:100px;
      top:363px;
      h3{
        font-size: 1.8em;
        padding-bottom:20px;
        line-height: 1;  
      }
    }   

    /* progress bar */
    .progressbar-wrapper{
      width:80%;
      position: absolute;
      bottom:150px;
      z-index: 5;
      left:10%;
      #progressBarPanasonic{
        border-radius:12px;
        background:$white;
        box-shadow: 0px 0px 10px rgba($black,.7);
      }
      #currentTimeDiv{
        text-align: center;
        padding-bottom:50px;
        #timeView{
          font-size: 2em;
          text-shadow: 0 0 5px rgba($black,.7);
        }
      }      
      #progressBarFillId{
        width:0px;
        border-radius:12px;
        transition: all 500ms linear;
        height:15px;
        background:$progressbar-bg;
        box-shadow: 0px 0px 10px rgba($black,.7);
        position: relative;
        .progressbar-circle{
          width:30px;
          height:30px;
          border-radius: 50%;
          background:$progressbar-bg;
          box-shadow: 0px 0px 10px rgba($black,.8);
          position: absolute;
          right:-15px;
          top:-8px;        
        }
      }          
    }
  }

 

}



